[core]
	editor = vim
	excludesfile = ~/.gitignoreglobal
	pager = delta
[color]
	ui = true
[user]
	email = CHANGE_ME
	name = Sam Leavens
[alias]
	lg = log --decorate --date=local
	st = status
	c = commit
	diffc = diff --cached
[branch]
	autoSetupMerge = always
[push]
	default = current
	autoSetupRemote = true
[pull]
	ff = only
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[init]
	defaultBranch = main

